body {
	background: #F0F0F0;
}

.container {
	padding: 10px;
}

.menu-icon {
	text-align: center;
	padding: 30px;
	padding-top: 45px;
	margin: 15px;
	width: 46%;
	height: 200px;
	vertical-align: middle;
	border: 1px solid #000000;
	background: #ffffff;
	float: left;
	cursor: pointer;
}
.menu-icon i {
	display: block;
	font-size: 72px;
}


@media (max-width: 767px) {
	.menu-icon
	{
		margin: 5px;
		width: 42%;
		float: left;
		margin-left: 15px;
	}
}

.menu-icon span {
	font-size: 28px;
}

#countDown {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid #0f0f0f;
	z-index: 100;
	background: #97c369;
	padding: 50px;
	font-size: 42px;
}

div.mainWeather
{
	padding: 50px;
}

div.mainWeather i.weatherIcon
{
	font-size: 180px;
	float: left;
}

div.mainWeather span {
	font-size: 40px;
	/*float: right;*/
	display:block;
	padding: 15px;
	position: relative;
	left: 50px;
}


#liftProgress
{
	position: absolute;
	top: 198px;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
}

#notifyPill {
	position: absolute;
	top: 480px;
	width: 95.4%;
	margin: 15px;
	height: 270px;
	border: 5px solid #d50c0c;
	background: #ffffff;
}

#notifyPill img {
	margin: 15px;
}

#notifyPill span {
	position: relative; top: 15px;
	padding: 24px;
	font-size: 64px;
}

#notifyPill button
{
	position: absolute;
	bottom: 5px;
	right: 5px;
}

.btn, .thumbnail, input, textarea {
	border-radius: 0 !important;
}

#phoneList {
	position: absolute;
	top: 15px;
	left: 3%;
	width: 94%;
	height: 750px;
	padding: 15px;

	border: 3px solid #adadad;
	background: #ffffff;

}

#phoneList span {
	padding-left: 50px;
	font-size: 32px;
}

#phoneListList {
	overflow: scroll;
	height: 670px;
}

#phoneListList div {
	width: 100%;
	height:130px;

}

#phoneListList div span {
	font-size: 32px;
	padding-left: 15px;
}

#phoneListList div .callButton {
	width: 110px;
	height: 110px;
	font-size: 72px;
}

.calendarTitle {
	font-size: 32px;
	position: relative;
	top: -8px;
}

#calendarCal table, #calendarCal table thead tr th {
	font-size: 24px;
	text-align: center;
}

.calPrefix {
	color: #3c3c3c;
}

#calUpcomming ul li {
	font-size: 22px;
}

.pills {
	position: absolute;
	bottom: 15px;
	right: 15px;
}