.container {
	padding: 10px;
}

.menu-icon {
	text-align: center;
	padding: 30px;
}
.menu-icon i {
	display: block;
	font-size: 72px;
}

.menu-icon span {
	font-size: 28px;
}

#countDown {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid #0f0f0f;
	z-index: 100;
	background: #999999;
	padding: 50px;
	font-size: 42px;
}

